<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <% if(nav===true) {%>
    <div class=" w-full px-7 py-2 flex justify-between items-center shadow-2xl  border-black  bg-white fade-in">
      <h1 class="text-xl font-extrabold "> <i class="text-2xl font-extrabold text-red-600 ri-pinterest-fill"></i> Pinterest</h1>
      <div class="flex gap-10 items-center">
        <a class= "text-sm font-extrabold hover:underline underline-offset-1" href=" /profile">Profile</a>
        <a class="text-sm font-extrabold hover:underline underline-offset-1" href="/feed">Feed</a>
        <a class="py-3 px-3 bg-red-600 text-sm font-extrabold text-white rounded-full hover:bg-red-700" href="/logout">Logout</a>
      </div>
    </div>
  <% } %>
  </body>
</html>
